.post-date{
    padding: 4px;
    margin: 3px 0;
    display: block;
    font-size: 13px;
}
.post-thumb{
    width: 100%;
}
.btn-primary{
    margin-right: 15px;
}
.fa{
    margin-right: 4px;
}
.navbar-brand{
    font-size: 2rem;
}
h2{
    margin-top: 110px;
}
h3{
    margin-top: 20px;
}
